<ion-card>
  <ion-card-header>
    <ion-card-title>Formulario Simple</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form #formulario="ngForm" (ngSubmit)="loadForm()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input name="txtNombre" [(ngModel)]="data.nombre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input name="txtNombre" [(ngModel)]="data.apellido"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Sucursal</ion-label>
            <ion-select name="sltSucursal" value="" [(ngModel)]="data.sucursal" okText="Seleccionar" cancelText="Cancelar">
              <ion-select-option value="paris">Paris</ion-select-option>
              <ion-select-option value="barcelona">Barcelona</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button type="submit" color="success" fill="outline">Guardar</ion-button>
    </form>
  </ion-card-content>
</ion-card>
