<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">  
      <ion-icon name="add"></ion-icon>
      <ion-icon name="heart"></ion-icon>
    </ion-buttons>
    <ion-title>buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button size="small">small</ion-button>
  <ion-button size="default">default</ion-button>
  <ion-button size="large">large</ion-button>
  
  <ion-button color="primary">primary</ion-button>
  <ion-button color="secondary">secondary</ion-button>
  <ion-button color="tertiary">tertiary</ion-button>
  <ion-button color="success">success</ion-button>
  <ion-button color="warning">warning</ion-button>
  <ion-button color="danger">danger</ion-button>
  <ion-button color="light">light</ion-button>
  <ion-button color="dark">dark</ion-button>

  <!-- Propiedad fill -->
  <ion-button fill="clear">clear</ion-button>
  <ion-button fill="outline">outline</ion-button>
  <ion-button fill="solid">solid</ion-button>

  <ion-row>
    <ion-col>
        <ion-button color="dark">col 1</ion-button>
    </ion-col>
    <ion-col>
        <ion-button color="dark">col 2</ion-button>
    </ion-col>
  </ion-row>

  <ion-button color="secondary" expand="full">expand</ion-button>

</ion-content>
