<app-header titulo="fabs"></app-header>

<ion-content>
  <!-- Para poder ubicar mejor el fab debemos usar las propiedades vertical y horizontal -->
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <!--Para que se depliegue una lista de opciones al pulsar click sobre el fab debemos usar el elementos ion fab list  -->
    <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
        <ion-fab-button>
          <ion-icon name="logo-github"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Para que el fab no se mueva cuando se haga scroll se debe establecer la propiedad slot a fixed -->
  <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
